@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

::placeholder {
  color: #9898a2 !important;
  font-weight: 500;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fs-7{
  font-size: 0.9rem;
}


.txtPurple{
  color: #483eff;
}
.txtDark{
  color: #03295a;
}

body {
  background-color: #eef5ff;
}

.stepsContent {
  background-color: #ffffff;
  border-radius: 18px;
  width: 1000px;
}

.stepLeftContent {
  background: url('./assets/images/bg-sidebar-desktop.svg')no-repeat center center/cover;
  border-radius: 18px;
  height: 600px;
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  padding: 40px 0;
}

.stepLeftContent ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.stepLeftContent ul li {
  gap: 12px;
}

.stepsNumberIcon {
  background-color: #473dff;
  color: #eef1fd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #eef1fd;
  cursor: pointer;
  transition: all 0.3s ease;
}

.stepsNumberIcon:hover {
  background-color: #bee1fc6d;
}

.stepsNumberIcon.active {
  background-color: #bee1fc;
  color: #052a58;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  font-size: 1.2rem;
  font-weight: bold;
  border-color: #bee1fc;
}

.stepsNumber {
  font-size: 0.85rem;
  margin-bottom: 2px;
  color: #a3a1fe;
}

.stepsName {
  font-size: 0.9rem;
  color: #f9f9ff;
  font-weight: bold;
  letter-spacing: 1px;
}

.stepsRightContent {
  padding: 40px 60px;

}

.stepsHeadingName {
  font-weight: bold;
  color: #052a58;
}

.stepsSubHeading {
  color: #a3a3ac;
  font-size: 1rem;
}

.personalInfo input.form-control {
  padding: 12px 16px;
}

.personalInfo label.form-label {
  color: #052a58;
  font-weight: 500;
  font-size: 0.9rem;
}

.stepsRightInnerContent {
  height: 75%;
}

.stepsRightBottomContent {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.personalInfo .stepsRightBottomContent {
  justify-content: flex-end;
}

.btn {
  padding: 10px 20px;
  border-radius: 8px;
}

.btn-primary {
  background-color: #03295a;
  border-color: #03295a;
}

.btn-primary:hover,
.btn.active {
  background-color: #03295a !important;
  border-color: #03295a !important;
}

.btn-primary:active{
  background-color: #473dff !important;
  border-color: #473dff !important;
}

.cardSelection {
  border: 1px solid #e4e4e5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 16px;
}

.btn-check:checked+.btn.cardSelection {
  background-color: #f8f9fe;
  border: 1px solid #483eff;
}

.btn-check+.btn.cardSelection:hover {
  border: 1px solid #483eff;
}

.cardSelectionImg{
  margin-bottom: 40px;
}

.cardSelectionHeader{
  font-weight: 700;
  color: #273d5b;
}

.cardSelectionPrice{
  color: #b4b4be;
  font-weight: 500;
  font-size: 0.95rem;
}

.cardSelectionYearlyDiscount{
  font-size: 0.9rem;
  color: #293445;
  font-weight: 500;
}

.monthyYearlyToggle{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: #f8f9fe;
  height: 56px;
  border-radius: 10px;
}

.form-switch .form-check-input{
  width: 40px;
  height: 21px;
}

.customToggle.form-check-input:checked{
  background-color: #05285a;
  border-color: #05285a;
}

.toggleText{
  font-weight: 700;
  color: #9898a2;
}

.addsOnsCards{
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  border: 1px solid #b4b4be;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
}

.addsOnsCards label.form-check-label{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.addsOnsCards .form-check-input{
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.addsOnsCards .form-check-input:checked{
  background-color: #483eff;
}

.addsOnsCards + .form-check-input:checked{
  border-color: #03295a;
  background-color: #03295a;
}

.addOnsCardsHeading {
  font-weight: 700;
  color: #03295a;
}

.addOnsCardsSubHeading {
  font-weight: 500;
  color: #9898a2;
  font-size: 0.9rem;
}

.addOnsCardPrice{
  color: #483eff;
  font-size: 0.9rem;
  font-weight: 500;
}

.addsOnsCards.active{
  border: 1px solid #483eff;
  background-color: #f8f9fe;
}

.addOns .stepsRightInnerContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.summaryContent{
  background-color: #f8f9fe;
  padding: 25px;
  border-radius: 10px;
}

.summaryContentRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summaryContentRow p{
  color: #9898a2;
  font-weight: 500;
}

.thankYou{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}




/* ============================  responsive   =============================== */

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

 }

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  .stepLeftContent {
    background: url('./assets/images/bg-sidebar-mobile.svg')no-repeat center center/cover;
    max-width: 100%;
    height: 100%;
    min-height: 160px;
    border-radius: 0;
  }
  .stepsContent>.col-md-4{
    height: 25%;
  }
  .stepLeftContent ul{
    flex-direction: row;
    justify-content: center;
    gap: 0;
  }
  .stepsNumber , .stepsName{
    display: none;
  }
  .stepsRightContent{
    height: 75%;
    padding: 0px 0px;
  }
  .stepsRightContent form{
    position: relative;
    justify-content: flex-end !important;
    align-items: center;
  }
  .stepMiddleContentMobile{
    position: absolute;
    background-color: #fff;
    top: -80px;
    padding: 20px;
    border-radius: 20px 15px;
    margin: 0 20px;
  }
  .container-md {
    align-items: unset;
  }
  .stepsContent{
    background-color: transparent;
    box-shadow: none !important;
  }
  .stepsRightBottomContent {
    width: 100%;
    background-color: #fff;
    padding: 20px 20px;
  }
  .planSelectionRadio{
    gap: 12px;
  }
  .planSelectionRadio .cardSelection{
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
  .cardSelectionImg{
    margin-bottom: 0;

  }
  .addsOnsCards {
    gap: 16px;
  }
  .thankYou form{
    width: 100%;
  }
  .thankYou .stepMiddleContentMobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
 }

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  }

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {  }














